
.main{

    width: 99vw;
    height: 100vh;
    background-color: rgb(69, 61, 61);

}

.filtr{

    color: white;
    height: 100vh;
    float: left;  
    width: 19vw;
    position: fixed;
    background-color: rgb(29, 27, 27);
    border-right: 1px solid rgb(43, 38, 38);
    padding-left: 1vw;

}


.main2{

    height: flex;
    float: left;
    width: 80vw;
    background-color: rgb(69, 61, 61);
    margin-left: 19vw;

}


    .bann{

        height: 15vh;
        margin: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 5px;

    }

    .show{

        margin: 2vh;
        padding: 1.5vh;
        float: left;
        height: 80vh;
        background-color: rgb(222, 230, 238);
        z-index: 10;
        border-radius: 5px;

    }

    .show img{
        object-fit: cover;
        width: 23vw;
        height: 46vh;
    }
