*{

    box-sizing: border-box;
    padding: 0; 
    margin: 0;

}

.mainc{

    width: 99vw;
    height: 91vh;
    background-image: url('SAVETHEDATE.jpg');
    background-repeat: repeat;
    justify-content: center; 

}


.main{

    width: 100vw;
    height: 100vh;
    background-color: rgb(69, 61, 61);

}